.featureCard {
  background: $color-white;
  box-shadow: 0 -4px 8px 0 rgba(92,99,110,0.09);
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 20px;
  transition: 0.25s all;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -4px 12px 0 rgba(92,99,110,0.09);
  }

  &__icon {
    height: 50px;
    flex: 1;
    display: flex;
    color: #5C636E;
    letter-spacing: 0;
    text-align: left;

    h4 {
      margin-left: 10px;
      margin-top: 12px;
    }

    img {
      height: 50px;
      width: 50px;
    }
  }

  &__content {
    flex: 4;
    margin-top: 15px;
  }

  &__title {
    color: #5C636E;
    letter-spacing: 0;
    text-align: left;
  }

  &__desc {
    opacity: 0.8;
  }

  &__link {
    margin-top: 15px;
    color: #559FED;
    font-family: FontSemiBold;
    text-transform: uppercase;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      margin-top: 15px;
      box-shadow: 0 -4px 12px 0 rgba(92,99,110,0.09);
    }
  }
}