@font-face {
  font-family: FontBold;
  src: url("./fonts/Muli-Bold.ttf") format("truetype");
}

@font-face {
  font-family: FontSemiBold;
  src: url("./fonts/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: FontLight;
  src: url("./fonts/Muli-ExtraLight.ttf") format("truetype");
}

h2 {
  font-size: 40px;
  font-family: FontSemiBold;
 
  @include mobile {
    font-size: 30px;
  }
}

h3 {
  font-size: 24px;
  font-family: FontSemiBold;
   
  @include mobile {
    font-size: 20px;
  }
}

h4 {
  font-family: FontSemiBold;
  font-size: 18px;
}

p {
  font-size: 16px;
  font-family: FontLight;
  opacity: 0.7;
}

a {
  font-size: 14px;
  font-family: FontBold;
}